.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(21,1fr);
    grid-gap: 5px;

  }
  .a {
    background: red;
    grid-column: 1 / span 3 ;
    grid-row: 1;
  }
  .b {
    background: orange;
    grid-column: 1 / span 3;
    grid-row: 2/4;
  }



  .c { background: yellow;
    grid-column: 1;
    grid-row: 4/ 7;
  }
  .d { background: yellow;
    grid-column: 2;
    grid-row: 4/ 7;
  }
  .e { background: yellow;
    grid-column: 1;
    grid-row: 7/ 10;
  }
  .f { background: yellow;
    grid-column: 2;
    grid-row: 7/ 10
  }
  .g { background:  green;
    grid-column: 3;
    grid-row: 4/8;
  }
  .h { background:blue;
    grid-column: 3; 
    grid-row: 8/14;
  }
  .i{ background: pink;
    grid-column: 1/2;
    grid-row: 10/16;
  }
  .j { background: white;
    grid-column: 3;
    grid-row: 16/ 21;
  }
  .k { background: white;
    grid-column: 1/3;
    grid-row: 16/ 21;
  }