 nav{
    border-bottom: 1px solid rgb(233, 231, 231);
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
}

.search{
     border: 1px solid rgb(233, 231, 231) ;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 460px;
     border-radius: 20px 20px;
     font-size: 14px;
     padding: 0;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 59, 87);
    color: white;
    width:25px;
    height: 25px;
    border-radius: 50%;
}
.nav-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#globe-icon:hover {
    border: 3px dotted #181717;
    color: #4c4a49;
    background: #fff;
    border-radius: 20px 20px;
  }




#globe-icon{
    display: flex;
    justify-content: center;
    align-items: center;
} 


.connect{

    border: 1px solid rgb(107, 107, 107) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-radius: 20px 20px;
    font-size: 14px;
    padding: 0;
    
}

  .connect:hover {
    border: 3px  #837e7d;
    color: #878281;
    background: rgb(200, 198, 198);
  }